/Project-3/target/
/Project-3/nbproject/
Project-3/.settings/org.eclipse.core.resources.prefs
Project-3/.settings/org.eclipse.jdt.apt.core.prefs
Project-3/.settings/org.eclipse.jdt.core.prefs
Project-3/.settings/org.eclipse.m2e.core.prefs
